name: static source code checks
on:
  push:
    branches:
      - main
      - master
jobs:
  static-analysis:
    name: Pre-Commit Static Checks
    runs-on: ubuntu-latest
    env:
      PRIMARY_PYTHON_VERSION: '3.12'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PRIMARY_PYTHON_VERSION  }}
      - uses: andgineer/uv-venv@v3
      - run: |
          uv pip install -r requirements.dev.txt
      - run: pre-commit run --verbose --all-files
